{% extends 'base.html' %}

{% block content %}

<label class="form-label text-center display-4 " for="">Update Book</label>

<div class="container">
    <div class="row flex justify-content-center">
        <div class="col-6">
            <form method="post" class="form-group">
                {% csrf_token %}
                <label for="" class="form-label">Book Title</label>
                <input type="text" name="title" value="{{book.title}}" class="form-control m-2">
                <label for="" class="form-label">Author</label>
                <input type="text" name="author" value="{{book.author}}" class="form-control m-2">
                <label for="" class="form-label" >Published Date</label>
                <input type="date" value="{{book.publication_date}}" name="date" class="form-control">
                <label for="" class="form-label">Price</label>
                <input type="number" value="{{book.price}}" class="form-control" name="price">
                <input type="submit" value="Submit" class="btn btn-sm btn-secondary form-control">
            </form>
        </div>
    </div>
</div>

{% endblock %}